/* 
    Document   : style
    Created on : 18-Jun-2015, 20:53:11
    Author     : nathanfriend
    Description:
        Purpose of the stylesheet follows.
*/

.top-buffer { 
    margin-top:8px; 
}

.footer-top-buffer {
    margin-top: 22px;
}


#teal-bright {
    color:#02C3C8;
}

#teal-mid {
    color:#018E91;
}

#teal-dull {
    color: #015A65;
}

#orange {
    color: #F7501B;
}

#orange-light {
    color: #FB7E21;
}
